{
    "env": {
        "browser": true,
        "node": true
    },

    "rules":{
        "camelcase": 1,
        "comma-dangle": 2,
        "quotes": [2, "single", "avoid-escape"]
    },

    "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
      }
    },

    "plugins": [

    ]
}
