@import 'config/color';

@import '../../bower_components/sanitize-css/dist/sanitize';
@import '../../bower_components/stylekit/stylekit';
@import '../../bower_components/cssgram/source/css/cssgram';


@import 'base/layout';
@import 'base/typography';
@import 'modules/header';
@import 'modules/slider';
@import 'modules/range';
@import 'modules/tab';
@import 'modules/photo';
@import 'modules/dropdown';

pre {
  background-color: c('base', 'tab-bg-color');
  color: c('base', 'slider-label-color');
  cursor: text;
  padding: 20px;

  span {
    font-family: 'Source Code Pro', 'Menlo', monospace;
    font-size: 13px;
  }
}

.opts {
  @include clearfix();
  label {
    color: c('base', 'slider-label-color');
    float: left;
    font-size: 12px;
    margin-top: 9px;
  }

  .dropdown {
    float: right;
  }

}
