// $pesticide-debug-outline: true;
// $pesticide-debug-depth: true;

@import 'config/color';

@import '../../bower_components/sanitize-css/dist/sanitize';
@import '../../bower_components/stylekit/stylekit';

@import 'base/layout';
@import 'base/typography';
@import 'modules/header';
@import 'modules/slider';
@import 'modules/range';
@import 'modules/tab';
@import 'modules/photo';
@import 'modules/dropdown';
@import 'modules/radio';

pre {
  background-color: c('base', 'tab-bg-color');
  color: c('base', 'slider-label-color');
  cursor: text;
  padding: 20px;

  span {
    font-family: 'Source Code Pro', 'Menlo', monospace;
    font-size: 13px;
  }
}

.opts {
  @include clearfix();
  margin-bottom: 20px;
  margin-top: 10px;

  label {
    color: c('base', 'slider-label-color');
    float: left;
    font-size: 12px;
    margin-top: 9px;
  }

  .dropdown {
    float: right;
  }

}




$swatch-border: #424242;

.color {
  display: flex;
  margin-bottom: 15px;

  &__box {
    @include clearfix();
    flex-basis: 50%;
    position: relative;
  }

  &__stop {
    @include clearfix();
    flex-basis: 50%;
  }

  &__text {
    color: c('base', 'slider-label-color');
    float: left;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
  }

  &__swatch {
    border: solid 1px $swatch-border;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 5px;
  }

  &__preview {
    border-radius: 2px;
    height: 14px;
    width: 36px;
  }

  &__stop-number {
    float: left;
  }

  &__stop-label {
    color: c('base', 'slider-label-color');
    float: left;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 5px;
  }

}





$control-color: #898989;

.number {
  @include clearfix();
  position: relative;
  width: 100px;

  &__input {
    background-color: c('base', 'tab-bg-color');
    color: c('base', 'slider-label-color');
    float: left;
    font-size: 12px;
    height: 30px;
    outline: 0;
    padding: 4px 8px 6px 10px;
    width: 50%;
  }

  &__up,
  &__down {
    background-color: lighten(c('base', 'tab-bg-color'), 10%);
    color: $control-color;
    cursor: pointer;
    float: left;
    height: 30px;
    padding-top: 2px;
    text-align: center;
    user-select: none;
    width: 20%;
  }

}


.gallery {
  background-color: c('base', 'tab-bg-color');
  flex-basis: 0;
  overflow: scroll;
  transition: all .35s cubic-bezier(.42, 0, .42, .86) 0s;

  &.is-active {
    flex-basis: 148px;
  }

  &__trigger {
    @include centerer(true, false);
    bottom: 10px;
    color: c('base', 'link-color');
    cursor: pointer;
    font-size: 13px;
    position: absolute;
  }

  &__items {
    @include clearfix();
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 20px;
    width: 1px;
  }

  &__item {
    display: inline-block;
  }
}

.thumb {
  border: solid 1px c('base', 'border-color');
  border-radius: 2px;
  cursor: pointer;
  margin: 0 3px;
  padding: 5px;
  padding-bottom: 0;

  &.is-active {
    border: solid 1px c('base', 'link-color');
  }

  &__figure {
    height: 75px;
    position: relative;
    width: 100px;
  }

  &__label {
    color: c('base', 'slider-label-color');
    font-size: 13px;
    line-height: 2;
    text-align: center;
  }
}



.modal {
  padding: 0 !important;

  &__trigger {
    color: c('base', 'link-color');
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding-left: 0;
    position: relative;

    i {
      font-size: 120%;
      margin-top: -1px;
      position: absolute;
    }

    span {
      padding-left: 22px;
    }
  }

  &__header {
    @include clearfix();
    background: linear-gradient(to bottom, c('base', 'header-bg-start'), c('base', 'header-bg-end'));
    height: 50px;
    padding: 0 20px;
  }

  &__title {
    color: c('base', 'header-text-color');
    float: left;
    line-height: 50px;
  }

  &__close {
    color: c('base', 'header-text-color');
    float: right;
    margin-top: 15px;
  }

  &__body {
    @include clearfix();
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    height: 450px;
    // justify-content: space-around;
    overflow-y: scroll;
    padding: 20px;
  }

  &__thumb {
    border: solid 2px c('base', 'sidebar-bg-start');
    float: left;
    height: 90px;
    width: 120px;
  }

  &__img {
    height: 90px;
    width: 120px;
  }
}
