h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: 'Avenir Next', 'Helvetica Neue', 'Arial', sans-serif;
}

pre {
  background-color: c('base', 'tab-bg-color');
  color: c('base', 'slider-label-color');
  cursor: text;
  padding: 20px;

  span {
    font-family: 'Source Code Pro', 'Menlo', monospace;
    font-size: 13px;
  }
}

code {
  font-size: 13px;
}
