// scss-lint:disable ColorVariable TrailingSemicolon
// TODO: Reafactor _colors config for heaven's sake. It's a mess
$colors: (
  base: (
    'border-color': #35373a,
    'header-bg-start': #2a3139,
    'header-bg-end': #292d34,
    'header-gradient-start': #6b87e3,
    'header-gradient-mid': #e041cc,
    'header-gradient-end': #fc4b53,
    'header-text-color': #c4ccdf,
    'sidebar-border-color': #20252b,
    'sidebar-bg-start': #191d23,
    'sidebar-bg-end': #202329,
    'slider-label-color': #7e8792,
    'slider-value-bg-color': #0f1010,
    'range-path-color': #434751,
    'range-handle-color': #9c5ad8,
    'tab-bg-color': #0f1010,
    'tab-bg-color-active': transparent,
    'tab-label-color': #5e6873,
    'tab-label-color-active': #c4ccdf,
    'link-color': #15b0ed,
    'main-bg': #1c1e22,
    'dropzone-border': #444,
    'cite-color': #979ead
  ),
  social: (
    twitter: #55acee,
    facebook: #455fa2,
  )
);
