// Todo: Find solution for large image, which works on windows too.
.photo {
  max-height: 85%;
  // overflow: scroll;

  &__spinner {
    z-index: 999;
  }

  &__img {
    img {
      height: auto;
      max-width: 100%;
    }
  }
}
